---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

$theme-background-primary: #003865;
$theme-background-secondary: #F4FDD9;
$theme-background-tertiary: #FFC847;


$theme-primary: #FFC847;
$theme-secondary: #229479;
$theme-tertiary: #E05263;
$theme-offwhite: #FAFAFF;


$theme-accent: #FAFAFF;
$color-highlight: $theme-accent;

// variables.less link and gradient background
$head-primary: #385566 ;
$head-secondary: #243c46 ;

// $theme-primary: #527aac; //#385566; //   00ff9f ;
// $theme-secondary: #abc6e6;//#527aac; //#5e7cbd;
// $theme-dark: #222;

$color-lblue: #29b7ea;
$color-dblue: #193f82;
$color-black: #161616;
$color-grey: #8e8e8e;
$color-white: #fff;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "base"
;
