---
layout: default
title: "Augmented Humans 2024 | Attending"
description: "Attending"
sitemap: true
---
<!-- Contact Section -->
<header class="masthead text-center text-white normal" style="background-color:#CEF1CC ;">
    <div id="particles-js" class="masthead-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <h1 class="masthead-heading mb-0">{{ site.data.attending.page-title }}</h1>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

</header>


<section id="" class="flip ah-organization ah-override">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-left" style="padding-top: 3em; padding-bottom: 3em;">
                <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
                    <span>{{ site.data.attending.registration-title }}</span>
                </div>
                {% assign description_paragraphs = site.data.attending.registration | newline_to_br | split:'<br />' %}
                {% for paragraph in description_paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>{{ site.data.attending.visa-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.visa | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>

  <section id="ah-categories" class="flip" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ site.data.attending.travel-title }}</span></div>
            <img id="venue-img" class="" src="{{ site.data.attending.travel-image | prepend: site.url }}"/>
          {% assign description_paragraphs = site.data.attending.travel | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>


  
  
  <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
                    <span>{{ site.data.attending.venue-title }}</span>
                </div>
                {% assign description_paragraphs = site.data.attending.venue | newline_to_br | split:'<br />' %}
                {% for paragraph in description_paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %}
                <!-- <img id="venue-img" class="" src="{{ site.data.attending.venue-image | prepend: site.url }}"/>
                 -->
                 <div class="gallery">
                  <img id="currentImg" src="/img/venue/monashaa.jpg" alt="Figure11" style="height: 50%; width: 80%;">
              </div>
                </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<script>
  const images = ["/img/venue/monashaa.jpg", "/img/venue/monasha.jpg",
  "/img/venue/monash0.jpg", "/img/venue/monash1.jpg", "/img/venue/monash2.jpg", "/img/venue/monash3.jpg" ,
  "/img/venue/monash4.jpg",   "/img/venue/monash5.jpg",  "/img/venue/monash6.jpg","/img/venue/monasha.jpg"
]; // Add your image URLs here
  let currentImageIndex = 0;
  
  const currentImg = document.getElementById("currentImg");
  
  function showImage() {
      currentImg.src = images[currentImageIndex];
  }
  
  function nextImage() {
      currentImageIndex = (currentImageIndex + 1) % images.length;
      showImage();
  }
  
  // Automatically change the image every 3 seconds (3000 milliseconds)
  const imageChangeInterval = setInterval(nextImage, 3000);
  
  // To stop the automatic image change, you can use the clearInterval function like this:
  // clearInterval(imageChangeInterval);
  
  showImage(); // Initial image display
  </script>

  
  
  
  <!-- <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ site.data.attending.accessibility-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.accessibility | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section> -->

  <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>ACCESSIBILITY</span></div>
   
          <p>The accessibility information is coming soon!</p>
   
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>

  
  <!-- <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>{{ site.data.attending.arriving-plane-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.arriving-plane | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
          <img id="venue-img" class="" src="{{ site.data.attending.arriving-plane-image | prepend: site.url }}"/>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>

  <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ site.data.attending.arriving-train-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.arriving-train | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
          <img id="venue-img" class="" src="{{ site.data.attending.arriving-train-image | prepend: site.url }}"/>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>
  
  <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>{{ site.data.attending.arriving-car-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.arriving-car | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section> -->

  <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>HOTELS</span></div>
     
          <p>The hotel information is coming soon!</p>
       
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>
<!--   
  <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>{{ site.data.attending.food-drink-title }}</span></div>
            <img id="venue-img" class="" src="{{ site.data.attending.food-drink-image | prepend: site.url }}"/>
          {% assign description_paragraphs = site.data.attending.food-drink | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>

  <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ site.data.attending.what-to-do-title }}</span></div>
            <img id="venue-img" class="" src="{{ site.data.attending.what-to-do-image | prepend: site.url }}"/>
          {% assign description_paragraphs = site.data.attending.what-to-do | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>
  
  <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>{{ site.data.attending.beyond-glasgow-title }}</span></div>
            <img id="venue-img" class="" src="{{ site.data.attending.beyond-glasgow-image | prepend: site.url }}"/>
          {% assign description_paragraphs = site.data.attending.beyond-glasgow | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section> -->