---
layout: default
title: "Augmented Humans 2025 | Attending"
description: "Attending"
sitemap: true
---
<!-- Contact Section -->
<header class="masthead text-center text-white normal" style="background-color:#CEF1CC ;">
    <div id="particles-js" class="masthead-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <h1 class="masthead-heading mb-0">{{ site.data.attending.page-title }}</h1>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

</header>

<section id="" class="flip ah-organization ah-override">
  <div class="container">
      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 text-left" style="padding-top: 3em; padding-bottom: 3em;">
              <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
                  <span>{{ site.data.attending.registration-title }}</span>
              </div>
              {% assign description_paragraphs = site.data.attending.registration | newline_to_br | split:'<br />' %}
              {% for paragraph in description_paragraphs %}
              <p>{{ paragraph }}</p>
              {% endfor %}
          </div>
          <div class="col-lg-1">
          </div>
      </div>
  </div>
</section>

<section id="" class="flip ah-organization ah-override">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-left" style="padding-top: 3em; padding-bottom: 3em;">
                <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
                    <span>{{ site.data.attending.price-title }}</span>
                </div>
                {% assign description_paragraphs = site.data.attending.price | newline_to_br | split:'<br />' %}
                {% for paragraph in description_paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</section>

<section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.attending.deadlines-title }}</span></div>
        {% assign description_paragraphs = site.data.attending.deadlines | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>



 <!-- <section id="ah-categories" class="flip" style="border-top: 5px solid #FFC847;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
         <a href="https://augmented-humans.org/program"> <p>You can find the conference program here. </p></a>
      
          <a href="https://augmented-humans.org/keynote"><p>You can find our exciting keynotes here. </p></a>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.attending.food-drink-title }}</span></div>
          <img id="venue-img" class="" src="{{ site.data.attending.food-drink-image | prepend: site.url }}"/>
        {% assign description_paragraphs = site.data.attending.food-drink | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

  <section id="ah-categories" class="flip" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ site.data.attending.travel-title }}</span></div>
            <img id="venue-img" class="" src="{{ site.data.attending.travel-image | prepend: site.url }}"/>
          {% assign description_paragraphs = site.data.attending.travel | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>

  <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ site.data.attending.arriving-plane-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.arriving-plane | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
          <img id="venue-img" class="" src="{{ site.data.attending.arriving-plane-image | prepend: site.url }}"/>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>

  <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ site.data.attending.arriving-train-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.arriving-train | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
          <img id="venue-img" class="" src="{{ site.data.attending.arriving-train-image | prepend: site.url }}"/>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section> -->
<!-- 
  <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
                    <span>{{ site.data.attending.venue-title }}</span>
                </div>
                {% assign description_paragraphs = site.data.attending.venue | newline_to_br | split:'<br />' %}
                {% for paragraph in description_paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            
                 <div class="gallery">
                  <img id="currentImg" src="/img/venue/monashaa.jpg" alt="Figure11" style="height: 50%; width: 80%;">
              </div>
                </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>



  <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>Getting to the conference location</span></div>
     
          <p>Monash University’s Caulfield Campus is easily accessible by public transport and car. We recommend using public transport, as parking space might be limited. </p>
          <br><br>
          <h4 style="color: black;" >Travelling by public transport:</h4><p>Near Monash University’s Caulfield Campus, there are several tram lines, train lines and buses that can be used. </p>
          <br><br>
          <h4 style="color: black;">Arriving by train:</h4><p>Caulfield station is a 3 minute walk from the conference location. The Cranbourne, Pakenham and Frankston lines stop here. </p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d787.3214065564424!2d145.0423073!3d-37.8770025!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6698cc8ace7eb%3A0x1d04567609f501c0!2sCaulfield!5e0!3m2!1sen!2sau!4v1710237082187!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          
          <br><br><br><br>
          <h4 style="color: black;">Arriving by tram:</h4><p>Tram line 3 stops a 5 minute walking distance from the conference centre. Exit the tram at Caulfield Railway Station/Derby Road (Stop 57).  </p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1574.6569431977048!2d145.0408581!3d-37.8763415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad669f32da34eeb%3A0x5b54c293a343cb69!2sCaulfield%20Railway%20Station%2FDerby%20Rd%20%2357!5e0!3m2!1sen!2sau!4v1710237250672!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          <br><br><br><br>
          <h4 style="color: black;">Arriving by bus:</h4><p>Several bus lines stop at Caulfield Train Station, which is 3 minutes from the conference location. Buslines 624 and 900 stop here. </p>
          <br><br>
          <h4 style="color: black;">Travel by car:</h4><p>Parking is available on campus at the Monash University Car Park, though available spots might be limited. This car park has a pay-and-display ticket system. To access this car park, navigate to: </p>
          <p>Monash University Car Park， 11 Princes Ave， Caulfield East VIC 3145</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12597.201069618375!2d145.0432178283022!3d-37.87666004683221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad669f35907b8b1%3A0x478544f3d274fc93!2sMonash%20University%20Car%20Park!5e0!3m2!1sen!2sau!4v1710237806547!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section> -->
<!-- 

  <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>Accommodation</span></div>
            <p>Melbourne offers a wide variety of accommodation options. For easy travel with public transport, we advise to either book in Melbourne CBD or near the conference location. </p>
            
            <h3 style="color: FFC847;">Melbourne CBD:</h3><p>Melbourne’s Central Business District (CBD for short) hosts most of Melbourne’s local attractions and is well connected with Monash University’s Caulfield campus, given that the Pakenham and Cranbourne train lines depart from Southern Cross Station, Melbourne Central Station, Parliament Station and Flinders Street Station. The Frankston line leaves from Southern Cross Station and Flinders Street Station. It takes roughly 40 minutes to travel from Melbourne CBD to Monash University’s Caulfield campus. </p>
            <h4 style="color: FFC847;">Mövenpick hotel:</h4><p>Rooms starting at AU$208.62. <a href="https://www.idem.events/r/augmented-humans-conference" style="color:#286090;" target="_blank">More details</a></p>
            
            <h4 style="color: FFC847;">Crown Hotel Melbourne Promenade:</h4><p>Rooms starting at AU$239.00. <a href="https://www.crownhotels.com.au/melbourne/crown-promenade" style="color:#286090;" target="_blank">More details</a></p>
            
            <br><br>
            <h3 style="color: FFC847;">Near Monash University’s Caulfield campus:</h3><p>Accommodation near the conference location offers a shorter commute. The recommended hotels also offer a discounted rate for conference guests. </p>
            
            <h4 style="color: FFC847;">The Sebel Melbourne Malvern:</h4><p>This hotel is conveniently located a 5 minute walk from the conference location. Rooms are from AU$219.00. To access the Monash University conference attendee rate, please contact the hotel. <a href="https://all.accor.com/hotel/B4G3/index.en.shtml" style="color:#286090;" target="_blank">More details</a></p>
         
            <h4 style="color: FFC847;">Hotel Chadstone MGallery:</h4><p>Located right next to the Chadstone Shopping Centre, this hotel is just a 17 minute bus ride away from the conference location. Rooms start at AU$265.00. Monash University conference attendees receive a 10% discount. If you would like to access this discount, please email Local Arrangements Chair Nathalie Overdevest.  <a href="https://www.hotelchadstone.com.au/" style="color:#286090;" target="_blank">More details</a></p>
         


        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>


  <section id="ah-categories" class="flip" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>{{ site.data.attending.visa-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.visa | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>



  
  
<script>
  const images = ["/img/venue/monashaa.jpg", "/img/venue/monasha.jpg",
  "/img/venue/monash0.jpg", "/img/venue/monash1.jpg", "/img/venue/monash2.jpg", "/img/venue/monash3.jpg" ,
  "/img/venue/monash4.jpg",   "/img/venue/monash5.jpg",  "/img/venue/monash6.jpg","/img/venue/monasha.jpg"
]; // Add your image URLs here
  let currentImageIndex = 0;
  
  const currentImg = document.getElementById("currentImg");
  
  function showImage() {
      currentImg.src = images[currentImageIndex];
  }
  
  function nextImage() {
      currentImageIndex = (currentImageIndex + 1) % images.length;
      showImage();
  }
  
  // Automatically change the image every 3 seconds (3000 milliseconds)
  const imageChangeInterval = setInterval(nextImage, 3000);
  
  // To stop the automatic image change, you can use the clearInterval function like this:
  // clearInterval(imageChangeInterval);
  
  showImage(); // Initial image display
  </script> -->

  
  
  
  <!-- <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ site.data.attending.accessibility-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.accessibility | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section> -->

  <!-- <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>ACCESSIBILITY</span></div>
   
          <p>The accessibility information is coming soon!</p>
   
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>

   -->

  
   <!--  <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>{{ site.data.attending.arriving-car-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.arriving-car | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section> -->

  <!-- <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>HOTELS</span></div>
     
          <p>The hotel information is coming soon!</p>
       
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section> -->


<!--   
  <section id="ah-categories" class="flip">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ site.data.attending.what-to-do-title }}</span></div>
            <img id="venue-img" class="" src="{{ site.data.attending.what-to-do-image | prepend: site.url }}"/>
          {% assign description_paragraphs = site.data.attending.what-to-do | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>
  
  <section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span>{{ site.data.attending.beyond-glasgow-title }}</span></div>
            <img id="venue-img" class="" src="{{ site.data.attending.beyond-glasgow-image | prepend: site.url }}"/>
          {% assign description_paragraphs = site.data.attending.beyond-glasgow | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section> -->