---
layout: default
title: "Augmented Humans 2021 | Awards"
description: "Awards"
---

<!-- Contact Section -->
<header class="masthead text-center text-white normal">
    <div class="overlay"></div>
    <div id="particles-js" class="masthead-content">
      <div class="container">
        <!-- <img src="../img/assets/ghost_1b_256.svg" alt="Logo" width="256" height="256"> -->
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <h1 class="masthead-heading mb-0">{{ site.data.awards.page-title }}</h1>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
    <!-- <div class="bg-circle-1 bg-circle"></div> -->
    <!-- <div class="bg-circle-2 bg-circle"></div> -->
    <!-- <div class="bg-circle-3 bg-circle"></div> -->
    <!-- <div class="bg-circle-4 bg-circle"></div> -->
</header>   
  
<section id="ah-awards" class="flip ah-override">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
            <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
                <span>{{ site.data.awards.about-title }}</span></div>
            {% assign description_paragraphs = site.data.awards.about | newline_to_br | split:'<br />' %}
            {% for paragraph in description_paragraphs %}
            <p>{{ paragraph }}</p>
            {% endfor %}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section id="" class="flip ah-awards ah-override">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
            <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
                <span>{{ site.data.awards.past-awards-title }}</span></div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section id="" class="flip ah-awards ah-override">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
            {% assign description_paragraphs = site.data.awards.awards-2020 | newline_to_br | split:'<br />' %}
            {% for paragraph in description_paragraphs %}
            <p>{{ paragraph }}</p>
            {% endfor %}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>