---
layout: default
title: "Augmented Humans 2024 | Demos"
description: "Demos"
sitemap: true
---
<header class="masthead text-center text-white normal" style="background-color:#D19AB4;">
  <!-- <div class="overlay"></div> -->
  <div id="particles-js" class="masthead-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h1 class="masthead-heading mb-0">{{ site.data.call-for-demos.page-title}}</h1>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</header>

<section id="ah-categories" class="flip1" style="border-top: 5px solid #F5F5F5;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span style="color: #FFC847;">{{ site.data.call-for-demos.submission-test-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-demos.submission-test | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p >{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>


<section id="ah-categories" class="flip">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.call-for-demos.overview-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-demos.overview | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip2" style="border-top: 5px solid #FFC847;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.call-for-demos.submissions-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-demos.submissions | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip" style="border-top: 5px solid #FFC847;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.call-for-demos.presentation-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-demos.presentation | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip1" style="border-top: 5px solid #F5F5F5;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span style="color: #FFC847;">{{ site.data.call-for-demos.submission-files-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-demos.submission-files | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p >{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip2" style="border-top: 5px solid #003865;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.call-for-demos.reviewing-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-demos.reviewing | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip ah-organization ah-override" style="border-top: 5px solid #FFC847;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10" style="padding-top: 30px; padding-bottom: 30px;">
        {% assign workshop-group = site.data.organization.committee | where: "group","Demo Chairs" %}
        {% for item in workshop-group %}
        <div class="kw-committee-group">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span class="k-title">{{ item.group }}</span>
          </div>
          <div class="people">
            {% for person in item.people %}
                <li>
                  {% if person.img %}
                  <div class="zoom-container"><div class="image" style="background-image: url({% include relative-src.html src=person.img %})"></div></div>
                  {% endif %}
                  {% if person.mail %}
                    <div class="name"><a href="mailto: {{ person.mail }}">{{ person.name }}</a></div>
                  {% elsif person.website %}
                    <div class="name"><a href="{{ person.website }}" target="_blank">{{ person.name }}</a></div>
                  {% else %}
                    <div class="name">{{ person.name }}</div>
                  {% endif %}
                  <div class="position">{{ person.affiliation }}</div>
                </li>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
</section>