---
layout: default
title: "Augmented Humans 2022 | Calls for participation"
description: "Location"
---
<header class="masthead text-center text-white normal">
  <!-- <div class="overlay"></div> -->
  <div id="particles-js" class="masthead-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h1 class="masthead-heading mb-0">{{ site.data.calls-for-participation.page-title}}</h1>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</header>

<section id="ah-about" class="flip" style="border-top: 5px solid black;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.calls-for-participation.about-title }}</span></div>
        {% assign description_paragraphs = site.data.calls-for-participation.about | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
        <!--img src="../img/assets/acm-logo-plain.jpg" height="150" /-->
        <!--img src="../img/assets/icps-logo-plain.jpg" height="150" /-->
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-topics" class="flip2" style="border-top: 5px solid #FF4F7D;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.calls-for-participation.topics-title }}</span></div>
        {% assign description_paragraphs = site.data.calls-for-participation.topics | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>


<section id="ah-categories" class="flip1" style="border-top: 5px solid black;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.calls-for-participation.categories-title }}</span></div>
        {% assign description_paragraphs = site.data.calls-for-participation.categories | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div id="submission-deadlines" class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.calls-for-participation.deadlines-title }}</span></div>
        {% assign description_paragraphs = site.data.calls-for-participation.deadlines | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>



<!-- 35.5520738,139.6472578 -->
