---
layout: default
title: "Augmented Humans 2026 | Posters&Demos"
description: "Posters&Demos"
sitemap: true
---
<header class="masthead text-center text-white normal" style="background-color:#9AB961">
  <!-- <div class="overlay"></div> -->
  <div id="particles-js" class="masthead-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h1 class="masthead-heading mb-0">{{ site.data.call-for-poster-demo.page-title}}</h1>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</header>


<section id="ah-categories" class="flip">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.call-for-poster-demo.overview-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-poster-demo.overview | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip2" style="border-top: 5px solid #000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.call-for-poster-demo.aims-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-poster-demo.aims | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  </section>

<section id="ah-categories" class="flip" style="border-top: 5px solid #000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.call-for-poster-demo.presentation-styles-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-poster-demo.presentation-styles | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip2" style="border-top: 5px solid #000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.call-for-poster-demo.submission-format-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-poster-demo.submission-format | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip1" style="border-top: 5px solid #000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span style="color: #c41a2e">{{ site.data.call-for-poster-demo.anonymity-review-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-poster-demo.anonymity-review | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip" style="border-top: 5px solid #000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.call-for-poster-demo.evaluation-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-poster-demo.evaluation | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip2" style="border-top: 5px solid #000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.call-for-poster-demo.presentation-registration-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-poster-demo.presentation-registration | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip" style="border-top: 5px solid #000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.call-for-poster-demo.dates-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-poster-demo.dates | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="ah-categories" class="flip1" style="border-top: 5px solid #000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span style="color: #0077be">{{ site.data.call-for-poster-demo.prepare-title }}</span></div>
        {% assign description_paragraphs = site.data.call-for-poster-demo.prepare | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>
