---
layout: default
title: "Augmented Humans 2025 | Program committee"
description: "Program Committee"
---
<!-- Contact Section -->
<header class="masthead text-center text-white normal" style="background-color:#536B3F;">
  <!-- <div id="particles-js" class="overlay"></div> -->
  <div id="particles-js" class="masthead-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h1 class="masthead-heading mb-0">{{ site.data.organization.page-title }}</h1>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</header>

{% comment %}
<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.general-co-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.general-co-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.program-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.program-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<!-- <section id="" class="flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.phd-colloquium-chairs-title }}</span></div>
        {% assign description_paragraphs = site.data.organization.phd-colloquium-chairs | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section> -->

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.poster-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.poster-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.demo-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.demo-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            {% if paragraph.image %}
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            {% else %}
            <img class="committe-image" src="{{ '/img/organizers/Portrait_Placeholder.png' | prepend: site.url }}"
              width="180px"
              alt="Greasemann, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons" />
            {% endif %}
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.design-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.design-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            {% if paragraph.image %}
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            {% else %}
            <img class="committe-image" src="{{ '/img/organizers/Portrait_Placeholder.png' | prepend: site.url }}"
              width="180px"
              alt="Greasemann, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons" />
            {% endif %}
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.publication-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.publication-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.sv-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.sv-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.dc-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.dc-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            {% if paragraph.image %}
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            {% else %}
            <img class="committe-image" src="{{ '/img/organizers/Portrait_Placeholder.png' | prepend: site.url }}"
              width="180px"
              alt="Greasemann, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons" />
            {% endif %}
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>



<!--section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.media-chairs-title }}</span></div>
        {% assign description_paragraphs = site.data.organization.media-chairs | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section-->

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.awards-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.awards-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            {% if paragraph.image %}
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            {% else %}
            <img class="committe-image" src="{{ '/img/organizers/Portrait_Placeholder.png' | prepend: site.url }}"
              width="180px"
              alt="Greasemann, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons" />
            {% endif %}
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.social-media-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.social-media-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            {% if paragraph.image %}
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            {% else %}
            <img class="committe-image" src="{{ '/img/organizers/Portrait_Placeholder.png' | prepend: site.url }}"
              width="180px"
              alt="Greasemann, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons" />
            {% endif %}
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.operations-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.operations-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            {% if paragraph.image %}
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            {% else %}
            <img class="committe-image" src="{{ '/img/organizers/Portrait_Placeholder.png' | prepend: site.url }}"
              width="180px"
              alt="Greasemann, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons" />
            {% endif %}
            <p><strong>{{ paragraph.name }}</strong><br />{{ paragraph.affiliation }}<br />{{ paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.video-chairs-title }}</span>
        </div>
        {% assign description_paragraphs = site.data.organization.video-chairs | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.web-chairs-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.web-chairs %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            <p><strong><strong>{{ paragraph.name }}</strong></strong><br />{{ paragraph.affiliation }}<br />{{
              paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
          <span>{{ site.data.organization.student-volunteers-title }}</span>
        </div>
        <div class="people">
          {% assign description_paragraphs = site.data.organization.student-volunteers %}
          {% for paragraph in description_paragraphs %}
          <div class="person">
            <img class="committe-image" src="{{ paragraph.image | prepend: site.url }}" width="180px" />
            <p><strong><strong>{{ paragraph.name }}</strong></strong><br />{{ paragraph.affiliation }}<br />{{
              paragraph.country }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

{% endcomment %}

<section id="" class="kw-committee-section flip ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10" style="padding-top: 30px; padding-bottom: 30px;">
        {% for item in site.data.organization.committee %}
        <div class="kw-committee-group">
          <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
            <span class="k-title">{{ item.group }}</span>
          </div>
          <div class="people">
            {% for person in item.people %}
                <li>
                  {% if person.img %}
                  <div class="zoom-container"><div class="image" style="background-image: url({% include relative-src.html src=person.img %})"></div></div>
                  {% endif %}
                  {% if person.mail %}
                    <div class="name"><a href="mailto: {{ person.mail }}">{{ person.name }}</a></div>
                  {% elsif person.website %}
                    <div class="name"><a href="{{ person.website }}" target="_blank">{{ person.name }}</a></div>
                  {% else %}
                    <div class="name">{{ person.name }}</div>
                  {% endif %}
                  <div class="position">{{ person.affiliation }}</div>
                </li>
            {% endfor %}
          </div>


          <!-- <div>
            {% assign people = item.name | newline_to_br | split:'<br />' %}
            {% assign i = 1 %}
            {% assign pl = people.size %}
            {% for paragraph in people %}
                {% if i != pl %}
                  <p>{{ paragraph }}</p>
                {% endif %}
              {% assign i = i | plus: 1 %}
            {% endfor %}
          </div> -->
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>

    <!-- <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.organization.program-title }}</span></div>
        {% assign description_paragraphs = site.data.organization.program | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div> -->
</section>

{% comment %}

<section id="" class="kw-committee-section flip1 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.organization.best-paper-title }}</span>
        </div>
        {% assign description_paragraphs = site.data.organization.best-paper | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<!-- <section id="steering" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.organization.steering-title }}</span>
        </div>
        {% assign description_paragraphs = site.data.organization.steering | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="pc" class="kw-committee-section flip2 ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.organization.pc-title }}</span>
        </div>
        {% assign description_paragraphs = site.data.organization.pc | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section> -->

{% endcomment %}