---
layout: default
title: "Augmented Humans 2020 | Program"
description: "Program"
---
<!-- Contact Section -->
<header class="masthead text-center text-white normal">
    <div class="overlay"></div>
    <div id="particles-js" class="masthead-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <h1 class="masthead-heading mb-0">{{ site.data.program.page-title }}</h1>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

</header>


<section id="" class="flip2 ah-organization ah-override">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
                    <span>{{ site.data.program.program-title }}</span></div>
                {% assign description_paragraphs = site.data.program.program | newline_to_br | split:'<br />' %}
                {% for paragraph in description_paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section id="" class="flip2 ah-organization ah-override">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
                    <span>Keynotes</span></div>
                <!-- {% assign description_paragraphs = site.data.program.keynotes | newline_to_br | split:'<br />' %}
                {% for paragraph in description_paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %} -->

                <img src="/img/keynote-speaker/stelarc.jpg" width="300" /> <br />

                <p><b>Stelarc</b></p> <br />

                <p>
                    <b>Title:</b> "Contemporary Chimeras: Creepy, Uncanny and Contestable Bodies"
                </p>

                <p>
                    <b>Biography:</b> Stelarc’s projects and performances explore alternate anatomies. His first
                    projects in 1968 were helmets that split binocular vision. His early actions from 1970 involved
                    amplifying body signals and sounds as control signals for real-time interaction. Between 1973-1975
                    he made 3 films of the inside of his body. Between 1976-1988 he realised 27
                    body suspensions with insertions into his skin, in different positions, in remote locations and in
                    varying situations. In 1980 the Third Hand, an EMG controlled mechanism, with pinch, grasp and wrist
                    rotation, was engineered. For the Fifth Australian Sculpture Triennial in 1993 he designed a
                    sculpture for the inside of his stomach. In 1997 in Hamburg City, Exoskeleton, a 6-legged walking
                    robot was engineered. Fractal Flesh, Ping Body and Parasite were internet performances that explored
                    remote and involuntary choreography via a muscle stimulation system. He has surgically constructed
                    and cell grown an ear on his arm in 2006. The intent is still to electronically augment and internet
                    enable it. In 2017 with
                    Propel, he was attached to the end of an industrial robot arm so that his position/orientation,
                    trajectory and velocity could be precisely programmed. With the Re-Wired / Re-Mixed performance,
                    2018, for five days, six hours a day in Perth,
                    he could only see with the eyes of someone in London, only hear with the ears of someone in NY,
                    whilst anyone, anywhere could choreograph his exoskeleton arm. StickMan is an interactive
                    installation and performance where the body was actuated by a minimal but full-body exoskeleton. In
                    1996 he was made an Honorary Professor of Art and Robotics at Carnegie Mellon University, Pittsburgh
                    and in 2002 was awarded an Honorary Doctorate of Laws by Monash University, Melbourne. In 2010 he
                    was awarded the Ars Electronica Hybrid Arts Prize. In 2015 he received the Australia Council’s
                    Emerging and Experimental Arts Award. In 2016 he was awarded an Honorary Doctorate from the Ionian
                    University, Corfu.
                    Between 2013 – 2018 Stelarc was a Distinguished Research Fellow, School of Media, Creative Arts and
                    Social Inquiry (MCASI), Curtin University, Perth. His artwork is represented by Scott Livesey
                    Galleries, Melbourne.
                </p>

            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<!-- <section id="" class="flip2 ah-organization ah-override">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left">
                    <span>{{ site.data.program.keynote-title }}</span></div>
                {% assign description_paragraphs = site.data.program.keynotes | newline_to_br | split:'<br />' %}
                {% for paragraph in description_paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section> -->

<!-- 35.5520738,139.6472578 -->