---
layout: default
title: "Augmented Humans 2026 | Guidelines for Registration"
description: "Guidelines for Registration"
sitemap: true
---
<!-- Contact Section -->
<header class="masthead text-center text-white normal" style="background-color:#CEF1CC ;">
    <div id="particles-js" class="masthead-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <h1 class="masthead-heading mb-0">{{ site.data.registration.page-title }}</h1>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

</header>

<section id="" class="flip ah-organization ah-override">
  <div class="container">
      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 text-left" style="padding-top: 3em; padding-bottom: 0.5em;">
              <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
                  <span>{{ site.data.registration.registration-title }}</span>
              </div>
              {% assign description_paragraphs = site.data.registration.registration | newline_to_br | split:'<br />' %}
              {% for paragraph in description_paragraphs %}
              <p>{{ paragraph }}</p>
              {% endfor %}
          </div>
          <div class="col-lg-1">
          </div>
      </div>
  </div>
</section>



<section id="" class="flip ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 text-left" style="padding-top: 0.5em; padding-bottom: 0.5em;">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.registration.deadlines-title }}</span></div>
        {% assign description_paragraphs = site.data.registration.deadlines | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section> 

<section id="" class="flip ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 text-left" style="padding-top: 0.5em; padding-bottom: 0.5em;">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.registration.registration-cite-title }}</span></div>
        {% assign description_paragraphs = site.data.registration.registration-cite | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section> 


<section id="" class="flip ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 text-left" style="padding-top: 0.5em; padding-bottom: 0.5em;">
        <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
          <span>{{ site.data.registration.price-title }}</span>
        </div>
        {{ site.data.registration.price }}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  </section>

{% assign extra_sections = site.data.registration.additional_sections %}
{% if extra_sections %}
  {% for section in extra_sections %}
  {% assign section_id = section.id | default: section.title | slugify %}
  <section id="{{ section_id }}" class="flip ah-organization ah-override">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 text-left" style="padding-top: 0.5em; padding-bottom: 0.5em;">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left">
            <span>{{ section.title }}</span>
          </div>
          <div class="registration-section-body">
            {{ section.content | markdownify }}
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>
  {% endfor %}
{% endif %}


<!-- Hotel Information (same as top page) -->
<section id="ah-hotel-info" class="flip ah-organization ah-override">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 text-left" style="padding-top: 0.5em; padding-bottom: 2em;">
        <div class="hotel-section">
          <h3><strong>Hotel Information</strong></h3>
          <p class="hotel-notice">
            The conference <strong><u>highly recommends Rizzan Sea Park</u></strong> as the main accommodation.<br>
            The <strong><u>conference reception will also be held at Rizzan</u></strong>, making it a very convenient choice for access and networking.<br>
            In addition, conference shuttle buses will operate from the hotels listed in the table below.<br>
            We encourage all participants to consider staying at one of these hotels for convenient transportation to and from the conference venue.
          </p>
          <ul class="hotel-list">
            <li class="hotel-item">
              <a href="https://www.rizzan.co.jp/english/" target="_blank" rel="noopener noreferrer" class="hotel-link">🌟 Rizzan Sea Park Hotel Tancha Bay</a>
              <span class="hotel-info">35 min on foot / 5 min by taxi (Conference Reception venue)</span>
            </li>
            <li class="hotel-item">
              <a href="https://www.moonbeach.co.jp/en/" target="_blank" rel="noopener noreferrer" class="hotel-link">Hotel Moon Beach</a>
              <span class="hotel-info">30 min by local bus and foot / 10 min by taxi</span>
            </li>
            <li class="hotel-item">
              <a href="https://www.kafuu-okinawa.jp/en/" target="_blank" rel="noopener noreferrer" class="hotel-link">Kafuu Resort Fuchaku</a>
              <span class="hotel-info">30 min by bus</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<style>
/* Hotel list styles (copied from top page) */
.hotel-section { margin-top: 30px; }
.hotel-list { list-style: none; padding-left: 0; margin: 0; }
.hotel-item { margin-bottom: 8px; line-height: 1.5; font-size: 18px; color: #131313; }
.hotel-link { font-weight: 600; }
.hotel-info { margin-left: 10px; display: inline-block; color: #3a3a3a; }
/* Ensure spacing appears despite .hotel-section p { margin: 0 } */
.hotel-section p.hotel-notice { margin-bottom: 16px; }
</style>
