<section id="ah-about" class="flip">
    <div class="container">
      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left"><span>{{ site.data.landing.about-title }}</span></div>
            
            {% if site.data.landing.show_notice == true %}
              <p class="masthead-subheading-notice" style="background-color: #c41a2e;">{{ site.data.landing.notice | newline_to_br }}</p>
            {% endif %}

            {% assign description_paragraphs = site.data.landing.about | newline_to_br | split:'<br />' %}
            {% for paragraph in description_paragraphs %}
              <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
</section>

<!-- <section id="ah-categories" class="flip2" style="border-top: 5px solid #c41a2e;">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.landing.closing-title }}</span></div>
        {% assign description_paragraphs = site.data.landing.closing | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p style="text-align:justify;">{{ paragraph }}</p>
        {% endfor %}
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.landing.impressions-title }}</span></div>
        {% assign description_paragraphs = site.data.landing.impressions | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p style="text-align:justify;">{{ paragraph }}</p>
        {% endfor %}

        <script type="text/javascript" src="/js/lightbox.js"></script>
        <div class ="image-gallery">
          {% for image in site.static_files %}
          {% if image.path contains 'img/closing' %}
            <div class="box">
            <a href="{{ site.baseurl }}{{ image.path }}">
              <img src="{{ site.baseurl }}{{ image.path }} " alt="{{ name }}"  class="img-gallery" />
            </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.program.awards-title }}</span></div>
        {% assign description_paragraphs = site.data.program.awards | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p style="text-align:justify;">{{ paragraph }}</p>
        {% endfor %}
        <div class="kw-section-title kw-huge kw-huge-alt1 kw-huge-left">
          <span>{{ site.data.landing.feedback-title }}</span></div>
        {% assign description_paragraphs = site.data.landing.feedback | newline_to_br | split:'<br />' %}
        {% for paragraph in description_paragraphs %}
        <p style="text-align:justify;">{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section> -->

<section id="ah-topics" class="flip top-bar" style="border-top: 5px solid #c41a2e;">
    <div class="container">
      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt kw-huge-left"><span>{{ site.data.calls-for-participation.topics-title }}</span></div>
            {% assign description_paragraphs = site.data.calls-for-participation.topics | newline_to_br | split:'<br />' %}
            {% for paragraph in description_paragraphs %}
              <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
          <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section id="ah-categories" class="flip1 top-bar" style="border-top: 5px solid #F5F5F5;">
    <div class="container">
      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
          <div class="kw-section-title kw-huge kw-huge-alt11 kw-huge-left"><span style="color: black;">{{ site.data.calls-for-participation.cfp-title }}</span></div>
            {% assign description_paragraphs = site.data.calls-for-participation.cfp | newline_to_br | split:'<br />' %}
            {% for paragraph in description_paragraphs %}
              <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
</section>

<section id="ah-deadlines" class="flip top-bar" style="border-top: 5px solid black;">
    <div class="container">
      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10" >
          <div id="submission-deadlines" class="kw-section-title kw-huge kw-huge-alt kw-huge-left" >
            <span>{{ site.data.calls-for-participation.deadlines-title }}</span></div>
            {% assign description_paragraphs = site.data.calls-for-participation.deadlines | newline_to_br | split:'<br />' %}
            {% for paragraph in description_paragraphs %}
              <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
</section>

<section id="ah-categories" class="flip2 top-bar">
  <div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
        <div id="submission-deadlines" class="kw-section-title kw-huge kw-huge-alt2 kw-huge-left"><span>{{ site.data.attending.venue-title }}</span></div>
          {% assign description_paragraphs = site.data.attending.venue | newline_to_br | split:'<br />' %}
          {% for paragraph in description_paragraphs %}
            <p>{{ paragraph }}</p>
          {% endfor %}
          <!-- <img id="venue-img" class="" src="{{ site.data.attending.venue-image | prepend: site.url }}"/> -->
          <!-- <div class="gallery">
            <img id="currentImg" src="/img/venue/monashaa.jpg" alt="Figure11" style="height: 50%; width: 80%;">
        </div> -->
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
</section>

<script>
  const images = ["/img/venue/monashaa.jpg", "/img/venue/monasha.jpg",
  "/img/venue/monash0.jpg", "/img/venue/monash1.jpg", "/img/venue/monash2.jpg", "/img/venue/monash3.jpg" ,
  "/img/venue/monash4.jpg",   "/img/venue/monash5.jpg",  "/img/venue/monash6.jpg","/img/venue/monasha.jpg"
]; // Add your image URLs here
  let currentImageIndex = 0;
  
  const currentImg = document.getElementById("currentImg");
  
  function showImage() {
      currentImg.src = images[currentImageIndex];
  }
  
  function nextImage() {
      currentImageIndex = (currentImageIndex + 1) % images.length;
      showImage();
  }
  
  // Automatically change the image every 3 seconds (3000 milliseconds)
  const imageChangeInterval = setInterval(nextImage, 3000);
  
  // To stop the automatic image change, you can use the clearInterval function like this:
  // clearInterval(imageChangeInterval);
  
  showImage(); // Initial image display
  </script>