

{% include partners.html %}

<footer class="bg-primary" style="border-top: 5px solid #F5F5F5;">
    <div class="container">
        <ul class="list-inline">
            {% include footer-list.html %}
            <!-- Should be added sometime around
            <li>
                <a class="page-scroll" href="/privacy-policy">Privacy Policy</a>
            </li>
            -->
        </ul>
        <div class="row">
            <div class="col-md-6">
              <!--<address>
                <h5>AH 2018 - International Conference on Augmented Human</h5>
                3rd Floor Room 3.014<br>
                Université de Technologie de Compiègne<br>
                Centre de Recherches Royallieu<br>
                60203 Compiègne Cedex FRANCE<br>
                <br>
                Tel: +33 (0)3 44 23 49 12<br>
                Fax: +33 (0)3 44 23 44 77<br>
                Email: <a href="mailto:ah2018@utc.fr">ah2018@utc.fr</a><br>
              </address>-->
            </div>
            <div class="col-md-6">
                <p class="copyright">&copy; 2026 Augmented Humans International Conference</p>
            </div>
        </div>
    </div>
</footer>
