

{% include partners.html %}

<footer class="bg-primary" style="border-top: 5px solid #F5F5F5;">
    <div class="container">
        <ul class="list-inline">
            {% include footer-list.html %}
            <!-- Should be added sometime around
            <li>
                <a class="page-scroll" href="/privacy-policy">Privacy Policy</a>
            </li>
            -->
        </ul>
        <p class="copyright">&copy; 2025 Augmented Humans International Conference</p>
    </div>
</footer>
