{% for item in site.data.menu.shortlinks %}
{% if item.sublinks %}
<li class="dropdown">
    <a class="page-scroll" href="{{ item.shortcut }}">{{ item.title }}</a>
    <ul class="dropdown-content">
    {% for sub in item.sublinks %}
    <li>
        <a href="{{ sub.shortcut }}">{{ sub.title }}</a>
    </li>
    {% endfor %}
    </ul>
</li>
{% else %}
<li>
    <a class="page-scroll" href="{{ item.shortcut }}">{{ item.title }}</a>
</li>
{% endif %}
{% endfor %}

<li>
    <a class="page-scroll" style="color: white; font-size: x-large; vertical-align: middle;" href="https://twitter.com/aug_humans">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
        </svg>
    </a>
</li>
