
<header class="masthead text-center text-white">
  <div class="overlay"></div>
  <div class="masthead-content">
    <div id="particles-js" style="position: absolute; top: 0; left: 0; width: 2000px;"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h1 class="masthead-heading mb-0">{{ site.data.landing.title }}</h1>
          <h2 class="masthead-subheading mb-0">{{ site.data.landing.subtitle }}</h2>
          <h2 class="masthead-subheading mb-0">{{ site.data.landing.subsubtitle }}</h2>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</header>   