<li>
    <a class="page-scroll" href="{{ site.data.menu.item-1-shortcut }}">{{ site.data.menu.item-1-title }}</a>
</li>
<li>
    <a class="page-scroll" href="{{ site.data.menu.item-2-shortcut }}">{{ site.data.menu.item-2-title }}</a>
</li>
<li>
    <a class="page-scroll" href="{{ site.data.menu.item-3-shortcut }}">{{ site.data.menu.item-3-title }}</a>
</li>
<li>
    <a class="page-scroll" href="{{ site.data.menu.item-4-shortcut }}">{{ site.data.menu.item-4-title }}</a>
</li>
<li>
    <a class="page-scroll" href="{{ site.data.menu.item-8-shortcut }}">{{ site.data.menu.item-8-title }}</a>
</li>
<li>
    <a class="page-scroll" href="{{ site.data.menu.item-5-shortcut }}">{{ site.data.menu.item-5-title }}</a>
</li>
<li>
    <a class="page-scroll" href="{{ site.data.menu.item-6-shortcut }}">{{ site.data.menu.item-6-title }}</a>
</li>
<li>
    <a class="page-scroll" href="{{ site.data.menu.item-7-shortcut }}">{{ site.data.menu.item-7-title }}</a>
</li>