<div style="background-color: white;">
    <div class="prefooter-logos">
        <!--
        <img src="{{ "/img/assets/acm-logo-plain.jpg" | prepend: site.url }}"/>
        -->
        <!-- <img class="sponsor-img" src="{{ "/img/assets/icps-logo-plain.jpg" | prepend: site.url }}"/>
        <img class="sponsor-img" src="{{ "/img/assets/coatofarms.jpg" | prepend: site.url }}"/>
        <img class="sponsor-img" src="{{ "/img/assets/sicsa-logo.jpg" | prepend: site.url }}"/> -->
        <img class="sponsor-img" src="{{ "/img/assets/monash_univeristy.jpg" | prepend: site.url }}"/>
        <!--
        <img src="{{ "/img/assets/logo-dfki.png" | prepend: site.url }}"/>
        <img src="{{ "/img/assets/logo-tuk.png" | prepend: site.url }}"/>
        <img src="{{ "/img/assets/logo-humane-ai.svg" | prepend: site.url }}"/>
        -->
    </div>
</div>
