<div style="background-color: white;">
    <div class="prefooter-logos">
        <!--img src="{{ "/img/assets/acm-logo-plain.jpg" | prepend: site.url }}"/-->
        <!--img src="{{ "/img/assets/icps-logo-plain.jpg" | prepend: site.url }}"/-->
        <!--img src="{{ "/img/assets/logo-dfki.png" | prepend: site.url }}"/-->
        <!--img src="{{ "/img/assets/logo-tuk.png" | prepend: site.url }}"/-->
        <!--img src="{{ "/img/assets/logo-humane-ai.svg" | prepend: site.url }}"/-->
        <img src="{{ "/img/assets/laylogo.png" | prepend: site.url }}"/>
    </div>
</div>
