<div style="background-color: white;">
    <div class="prefooter-logos">
        <img src="{{ '/img/assets/acm-logo-plain.jpg' | prepend: site.url }}"/>
        <!-- <img class="sponsor-img" src="{{ "/img/assets/icps-logo-plain.jpg" | prepend: site.url }}"/> -->
        <!-- <img class="sponsor-img" src="{{ "/img/assets/usa.png" | prepend: site.url }}"/>
        <img class="sponsor-img" src="{{ "/img/assets/monash_univeristy.jpg" | prepend: site.url }}"/>
        <img class="sponsor-img" src="{{ "/img/assets/unisyd.jpeg" | prepend: site.url }}"/>
        <img class="sponsor-img" src="{{ "/img/assets/ACM.gif" | prepend: site.url }}"/>
        <img class="sponsor-img" src="{{ "/img/assets/sigchi.jpg" | prepend: site.url }}"/> -->
        <!--
        <img src="{{ "/img/assets/logo-dfki.png" | prepend: site.url }}"/>
        <img src="{{ "/img/assets/logo-tuk.png" | prepend: site.url }}"/>
        <img src="{{ "/img/assets/logo-humane-ai.svg" | prepend: site.url }}"/>
        -->
    </div>
</div>
