<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript
<script src="js/bootstrap.min.js"></script> -->

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<!-- <script src="/js/creative.js"></script> -->

<!-- jQuery
<script src="/vendor/jquery/jquery.min.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="/js/new-age.min.js"></script>

<script src="/js/particles.min.js"></script>

<script type="text/javascript">
  /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
  particlesJS.load('particles-js', '/js/particlesjs2023.json', function () {
    console.log('callback - particles.js config loaded');
  });
</script>

<!-- Change logo after scrolling-->
<script src="/js/logo-changer.js"></script>

<script src='/js/fullcalendar@6.1.4/index.global.min.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'en-UK',
      headerToolbar: {
        start: 'title',
        center: 'prev,next',
        end: 'week,day'
      },
      initialView: 'week',
      initialDate: '2025-03-16',
      views: {
        week: {
          type: 'timeGrid',
          duration: { days: 5 },
          minTime: '08:30:00', 
        },
        day: {
          type: 'timeGrid',
          duration: { days: 1 },
          minTime: '08:30:00', 
          
        }
      },
      scrollTime: '08:30:00',
      visibleRange: {
        start: '2025-03-16',
        end: '2025-03-21'
      },
      validRange: {
        start: '2025-03-16',
        end: '2025-03-21'
      },
      eventColor: '#FFC847',
      eventTextColor: '#000000',
      events: [
        {
          title: 'Registration',
          start: '2025-03-16T08:30',
          end: '2025-03-16T09:00',
          backgroundColor: '#8dbae8'
        },
        {
          title: 'Workshops',
          start: '2025-03-16T09:00',
          end: '2025-03-16T10:30',
          backgroundColor: '#f0b378'
        },
        {
          title: 'Coffee Break',
          start: '2025-03-16T10:30',
          end: '2025-03-16T11:00',
          backgroundColor: '#E98D8D'
        },
        {
          title: 'Workshops',
          start: '2025-03-16T11:00',
          end: '2025-03-16T12:00',
          backgroundColor: '#f0b378'
        },

        {
          title: 'Lunch',
          start: '2025-03-16T12:00',
          end: '2025-03-16T13:00',
          backgroundColor: '#E98D8D'
        },

        {
          title: 'Workshops',
          start: '2025-03-16T13:00',
          end: '2025-03-16T14:00',
          backgroundColor: '#f0b378' // Assuming a new color for variety
        },
        // Start of Day 2
        {
          title: 'Registration',
          start: '2025-03-17T08:30',
          end: '2025-03-17T09:00',
          backgroundColor: '#8dbae8'
        },
        {
          title: 'Opening + Keynote',
          start: '2025-03-17T09:00',
          end: '2025-03-17T10:30',
          backgroundColor: '#cda1ee'
        },
        {
          title: 'Coffee Break',
          start: '2025-03-17T10:30',
          end: '2025-03-17T11:00',
          backgroundColor: '#E98D8D'
        },
        {
          title: 'Paper Session 1',
          start: '2025-03-17T11:00',
          end: '2025-03-17T12:00',
          backgroundColor: '#8de8ba'
        },
        {
          title: 'Lunch',
          start: '2025-03-17T12:00',
          end: '2025-03-17T13:00',
          backgroundColor: '#E98D8D'
        },
        {
          title: 'Paper Session 2',
          start: '2025-03-17T13:00',
          end: '2025-03-17T14:00',
          backgroundColor: '#8de8ba'
        },
        // Start of Day 3
        {
          title: 'Registration',
          start: '2025-03-18T08:30',
          end: '2025-03-18T09:00',
          backgroundColor: '#8dbae8'
        },
        {
          title: 'Paper Session 3',
          start: '2025-03-18T09:00',
          end: '2025-03-18T10:30',
          backgroundColor: '#8de8ba' // A color to signify workshops
        },
        {
          title: 'Coffee Break',
          start: '2025-03-18T10:30',
          end: '2025-03-18T11:00',
          backgroundColor: '#E98D8D'
        },
        {
          title: 'Paper Session 4',
          start: '2025-03-18T11:00',
          end: '2025-03-18T12:00',
          backgroundColor: '#8de8ba' // A color to signify workshops
        },
        {
          title: 'Lunch',
          start: '2025-03-18T12:00',
          end: '2025-03-18T13:00',
          backgroundColor: '#E98D8D'
        },

        {
          title: 'Paper Session 5',
          start: '2025-03-18T13:00',
          end: '2025-03-18T14:00',
          backgroundColor: '#8de8ba' // A color to signify workshops
        },
        {
          title: 'Banquet: Fairmont Bab Al Bahr',
          start: '2025-03-18T18:00',
          end: '2025-03-18T20:00',
          backgroundColor: '#cda1ee' // A color to signify workshops
        },
        // Start of Day 4
        {
          title: 'Registration',
          start: '2025-03-19T08:30',
          end: '2025-03-19T09:00',
          backgroundColor: '#8dbae8'
        },
        {
          title: 'Paper Session 6',
          start: '2025-03-19T09:00',
          end: '2025-03-19T10:30',
          backgroundColor: '#8de8ba' // A color to signify workshops
        },
        {
          title: 'Coffee Break',
          start: '2025-03-19T10:30',
          end: '2025-03-19T11:00',
          backgroundColor: '#E98D8D'
        },
        {
          title: 'Paper Session 7',
          start: '2025-03-19T11:00',
          end: '2025-03-19T12:00',
          backgroundColor: '#8de8ba' // A color to signify workshops
        },
        {
          title: 'Demo and Poster Reception',
          start: '2025-03-19T12:00',
          end: '2025-03-19T14:00',
          backgroundColor: '#f0b378'
        },
         // Start of Day 5
         {
          title: 'Registration',
          start: '2025-03-20T08:30',
          end: '2025-03-20T09:00',
          backgroundColor: '#8dbae8'
        },
        {
          title: 'Paper Session 8',
          start: '2025-03-20T09:00',
          end: '2025-03-20T11:00',
          backgroundColor: '#8de8ba' // A color to signify workshops
        },
        {
          title: 'Brunch',
          start: '2025-03-20T11:00',
          end: '2025-03-20T12:00',
          backgroundColor: '#E98D8D'
        },
        {
          title: 'Closing Keynote + Handover',
          start: '2025-03-20T12:00',
          end: '2025-03-20T14:00',
          backgroundColor: '#cda1ee' // A color to signify workshops
        },



        // {
        //   title: 'Coffee Break',
        //   start: '2024-04-06T11:00',
        //   end: '2024-04-06T11:30',
        //   backgroundColor: '#E98D8D'
        // },
        // {
        //   title: 'Lunch',
        //   start: '2024-04-05T13:00',
        //   end: '2024-04-05T14:15',
        //   backgroundColor: '#E98D8D'
        // },
        // {
        //   title: 'Lunch',
        //   start: '2024-04-06T13:00',
        //   end: '2024-04-06T14:15',
        //   backgroundColor: '#E98D8D'
        // },
        // {
        //   title: 'Welcome Reception',
        //   start: '2024-04-04T16:30',
        //   end: '2024-04-04T17:30'
        // },
        // {
        //   title: 'Registration Open | Poster/Demo Setup',
        //   start: '2024-04-05T08:30',
        //   end: '2024-04-05T09:00',
        //   backgroundColor: '#8dbae8'
        // },
        // {
        //   title: 'Opening | Keynote Florian Alt',
        //   start: '2024-04-05T09:00',
        //   end: '2024-04-05T11:00'
        // },
        // {
        //   title: 'Session 1: Haptic Feedback',
        //   start: '2024-04-05T11:30',
        //   end: '2024-04-05T13:00'
        // },
        // {
        //   title: 'Session 2: Perception and Extended Reality',
        //   start: '2024-04-05T14:15',
        //   end: '2024-04-05T16:00'
        // },
        // {
        //   title: 'Coffee + Poster/Demos',
        //   start: '2024-04-05T16:00',
        //   end: '2024-04-05T18:00',
        //   backgroundColor: '#E98D8D'
        // },
        // {
        //   title: 'Speed Mentoring',
        //   start: '2024-04-05T16:30',
        //   end: '2024-04-05T17:30',
        //   backgroundColor: '#8de8e8'
        // },
        // {
        //   title: 'Reception (@ Òran Mór¹)',
        //   start: '2024-04-05T18:15',
        //   end: '2024-04-06T00:00'
        // },
        // {
        //   title: 'Registration Open | Poster/Demo Setup',
        //   start: '2024-04-06T08:30',
        //   end: '2024-04-06T09:00',
        //   backgroundColor: '#8dbae8'
        // },
        // {
        //   title: 'Session 3: Human Empowerment',
        //   start: '2024-04-06T09:00',
        //   end: '2024-04-06T11:00'
        // },
        // {
        //   title: 'Session 4: Intelligence Augmentation',
        //   start: '2024-04-06T11:30',
        //   end: '2024-04-06T13:00'
        // },
        // {
        //   title: 'Session 5: Interfaces for the Body and Beyond',
        //   start: '2024-04-06T14:15',
        //   end: '2024-04-06T15:45'
        // },
        // {
        //   title: 'Coffee + Poster/Demos',
        //   start: '2024-04-06T15:45',
        //   end: '2024-04-06T17:00',
        //   backgroundColor: '#E98D8D'
        // },
        // {
        //   title: 'Closing',
        //   start: '2024-04-06T17:00',
        //   end: '2024-04-06T18:00'
        // }
      ]
    });
    calendar.render();
  });

</script>

{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();



</script>
{% endif %}