$tablet: "(min-width: 450px)";
$desktop: "(min-width: 768px)";


b, strong {
  font-weight: 500 !important;
}

.content-wrap {
  margin-top: 70px;
  flex: 1;
}
@media (min-width: 768px) {
  .content-wrap {
    // min-height: 85%;
  }
}

.heading-font {
  font-family: 'Work Sans', sans-serif;
  // font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 700;
  letter-spacing: 1px;
}

.body-font {
  font-family: 'Work Sans', sans-serif;
}

html {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  position: relative;
  min-height: 100%;
  color: #000;
}

body {
  min-height: 100%;
  width: 100%;
  // font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  font-family: 'Work Sans', sans-serif;
  margin: 0 0; /* bottom = footer height */
  display: flex;
  flex-direction: column;
  background-color: $theme-background-primary;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: lightgrey;
  text-decoration: underline;
  &:hover, &:focus {
    color: $hyperlinks;
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
  &.light {
    border-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.small-logo {
  width: 50px !important;
  }

.logo {
    width: 50px;
  }

@media (min-width: 768px) {
  .logo {
    width: 100px;
  }
}

.logo .small-logo {
  position: -50px -50px;
}

.navbar-default {
  background-color: $theme-background-primary;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-weight: 200;
  letter-spacing: 1px;
  .navbar-header {
    .navbar-brand {
      font-weight: 200;
      letter-spacing: 1px;
      &:hover, &:focus {
        color: #fcbd20;
      }
    }
    .navbar-toggle {
      border: none;
      border-radius: 1px;
      background-color: #aaa;
      font-size: 12px;
      padding: 8px 10px;
      &:hover {
        background-color: white;
      }
    }
  }
  .nav > li {
    > a {
      font-family: 'Work Sans', sans-serif;
      text-transform: uppercase;
      text-decoration: none !important;
      letter-spacing: 1px;
      font-size: 12px;
      color: white;
      &:focus {
        color: #222222;
      }
      &:hover, &:focus:hover {
        color: $hyperlinks;
        text-decoration: underline !important;
        // color: $theme-primary;
      }
    }
    &.active > a {
      color: $theme-primary !important;
      background-color: transparent;
      &:focus {
        color: $theme-primary !important;
        background-color: transparent;
      }
      &:hover, &:focus:hover {
        background-color: transparent;
      }
    }
  }
}
.navbar-default .navbar-collapse {
  border-color: $theme-background-primary !important;
  padding-top: 25px;
}

@media (min-width: 768px) {
  .navbar-default {
    margin-bottom: 200px;
    // background-color: transparent;
    background-color: $theme-background-primary;
    border-color: transparent;
    .navbar-header .navbar-brand {
      color: rgba(255, 255, 255, 0.55);
      &:hover, &:focus {
        color: white;
      }
    }
    .nav > li > a {
      color: $color-white;
      &:focus {
        color: rgba(255, 255, 255, 0.55);
      }
      &:hover, &:focus:hover {
        color: $color-white;
      }
    }
    &.navbar-index {
      .navbar-logo {
        opacity: 0.9;
      }
      .nav > li > a {
        color: white;
        &:focus {
          color: rgba(255, 255, 255, 0.7);
        }
        &:hover, &:focus:hover {
          color: $hyperlinks;
        }
      }
    }
    .navbar-logo img {
        // opacity: 1;
        // background: url('../img/assets/ghost_1b_256.svg');
        // border-color: transparent;
        // background-color: $theme-background-primary;
      }
    &.affix {
      background-color: $theme-background-primary;
      .navbar-logo {
        // background: url('../img/assets/ghost_1b_256.svg');
        // background-repeat:no-repeat;
        // background-position: center center;
      }
      .navbar-logo img {
        // background: url('../img/assets/ghost_1b_256.svg');
        // background-color: $theme-background-primary;
      }
      border-color: rgba(34, 34, 34, 0.1);
      .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
        &:hover, &:focus {
          color: $theme-primary;
        }
      }
      .nav > li > a {
        color: white;
        &:focus {
          color: white;
        }
        &:hover, &:focus:hover {
          color: $hyperlinks;
        }
      }
    }
  }
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  // height: 100%;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  color: white;
  .header-content {
    text-align: center;
    padding: 150px 0 50px;
    position: relative;
    .header-content-inner {
      position: relative;
      max-width: 500px;
      margin: 0 auto;
      h1 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 30px;
      }
      .list-badges {
        margin-bottom: 25px;
        img {
          height: 50px;
          margin-bottom: 25px;
        }
      }
    }
  }
  .device-container {
    max-width: 300px;
    margin: 0 auto 100px;
    .screen img {
      border-radius: 3px;
    }
  }
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
    .header-content {
      text-align: left;
      padding: 0;
      height: 100vh;
      .header-content-inner {
        max-width: none;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        h1 {
          font-size: 35px;
        }
      }
    }
    .device-container {
      max-width: none;
      max-height: calc(0vh);
      margin: 100px auto 0;
    }
  }
}

@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}

section {
  padding: 0;
  h2 {
    font-size: 50px;
  }
  &.download {
    padding: 150px 0;
    position: relative;
    h2 {
      margin-top: 0;
      font-size: 50px;
    }
    .badges .badge-link {
      display: block;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        height: 60px;
      }
    }
  }
  &.features {
    .section-heading {
      margin-bottom: 100px;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .section-post-heading {
      margin-bottom: 100px;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .device-container, .feature-item {
      max-width: 300px;
      margin: 0 auto;
    }
    .device-container {
      margin-bottom: 100px;
    }
    .feature-item {
      text-align: center;
      margin-bottom: 100px;
      h3 {
        font-size: 30px;
      }
      i {
        font-size: 80px;
        background: -webkit-linear-gradient(to left, $head-primary, $head-secondary);
        background: linear-gradient(to left, $head-primary, $head-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &.cta {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/bg-cta.jpg');
    padding: 250px 0;
    .cta-content {
      position: relative;
      z-index: 1;
      h2 {
        margin-top: 0;
        margin-bottom: 25px;
        color: white;
        max-width: 450px;
        font-size: 50px;
      }
    }
    .overlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.contact {
    text-align: center;
    h2 {
      margin-top: 0;
      margin-bottom: 25px;
      i {
        color: #dd4b39;
      }
    }
    ul.list-social {
      margin-bottom: 0;
      li {
        a {
          display: block;
          height: 80px;
          width: 80px;
          line-height: 80px;
          font-size: 40px;
          border-radius: 100%;
          color: white;
        }
        &.social-twitter a {
          background-color: #1da1f2;
          &:hover {
            background-color: #0d95e8;
          }
        }
        &.social-facebook a {
          background-color: #3b5998;
          &:hover {
            background-color: #344e86;
          }
        }
        &.social-google-plus a {
          background-color: #dd4b39;
          &:hover {
            background-color: #d73925;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  section.features {
    .device-container, .feature-item {
      max-width: none;
    }
  }
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

footer {
  height: 145px;
  @media (max-width: 768px) {
    height: 200px;
  }
  background-color: $theme-background-primary;
  padding: 30px 0;
  color: #fff !important;
  // position: absolute;
  left: 0;
  // bottom: 0;
  // height: 100px;
  width: 100%;
  overflow:hidden;
  text-align: center;
  p {
    font-size: 16px;
    margin: 0;
  }
  ul {
    margin-bottom: 0;
    li a {
      font-size: 16px;
      color: #fff;
      &:hover, &:focus, &:active, &.active {
        color: #c41a2e;
        text-decoration: none;
      }
    }
    li:not(:last-child):after {
      content: "|";
      padding-left: 10px;
    }
  }
}

.bg-primary {
  background: $theme-primary;
}

.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: $theme-primary;
    border-color: $theme-primary;
  }
}

a.btn {
  font-family: 'Work Sans', sans-serif;
  background-color: $hyperlinks;
  color: black;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  border-radius: 1px;
  transition: 0.5s ease-in-out;
  &:hover {
    // color: white;
    background-color: darken($hyperlinks, 10%);
    transition: 0.5s ease-in-out;
  }
}

.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

body {
  webkit-tap-highlight-color: #222222;
}

.no-padding {
    padding: 0;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: rgba( $theme-primary, .9 );
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.intro-header {
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  .site-heading, .post-heading, .page-heading {
    padding: 100px 0 50px;
    color: white;
  }
  .site-heading, .page-heading {
    text-align: center;
  }
  .site-heading h1, .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
  }
  .site-heading .subheading, .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .subheading, .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 24px;
      margin: 10px 0 30px;
      font-weight: 600;
    }
    .meta {
      font-family: 'Lora', 'Times New Roman', serif;
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
      a {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading, .post-heading, .page-heading {
      padding: 150px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading h1, .page-heading h1 {
      font-size: 80px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading {
    h1 {
      font-size: 55px;
    }
    .subheading {
      font-size: 30px;
    }
  }
}

input[type="text"], textarea.form-control, input[type="email"]{
  min-height: 40px;
  border-radius: 1px;
  resize: none;
  padding: 10px;
  font-size: 16px;
}

textarea.form-control {
  height: 300px;
}

label {
  font-family: 'TT3R', serif;
  font-size: 16px;
}

header.masthead {
  text-align: left;
  position: relative;
  overflow-x: hidden;
  padding-top: calc(0.88*5rem + 55px);
  padding-bottom: 0.88*7rem;
  background: url('../img/assets/AugmentedHumansHeader25.png');
  // animation: backgroundAnimation 15s linear infinite;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  &.normal {
    margin-top: -20px;
    padding-bottom: 0.88*1rem;
    max-height: 205px;
    padding-top: 20px;
    // background-image: none;
    background-color: $theme-primary;
  }
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  .overlay {
    opacity: 0.1;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
  }
  .masthead-content {
    z-index: 1;
    padding: 50px 0px;
    position: relative;
    .masthead-heading {
      // font-size:0.88*1rem;
      text-align: center;
      margin: auto; // centers it
      font-family: 'Monospaced font', sans-serif;
      font-weight: 100;
      color: $theme-offwhite;
      background-color: rgba(0, 56, 101, 0.9);
      background: linear-gradient(135deg, #c60017 60%, #D96A6C 90%);
      border: 5px solid #fff;

    }
    .masthead-subheading {
      text-align: center;
      margin: auto; // centers it
      margin-top:2%;
      font-family: 'Monospaced font', sans-serif;
      opacity: 1;
      //padding: 5px;
      // font-size: 0.88*1.5rem;
      // color: $theme-offwhite;
      // background-color: rgba(58, 175, 185, 0.9);
      color: $theme-background-primary;
      background-color: rgba(255, 255, 255, 0.85);
      border: 3px solid #fff;
    }
    .container {
      pointer-events: none;
    }
  }
  .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, $color-highlight 0%, $color-dblue 100%);
  }
}
// header.masthead {
//   text-align: left;
//   position: relative;
//   overflow-x: hidden;
//   padding-top: calc(0.88*5rem + 55px);
//   padding-bottom: 0.88*7rem;
//   background: url('../img/assets/melb1.jpg'); /* Initial background */
//   animation: backgroundAnimation 15s linear infinite;
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-attachment: scroll;
//   background-size: cover;
// }

@keyframes backgroundAnimation {
  0%, 33.33% {
    background-image: url('../img/assets/ah1.jpg'); /* First image */
  }
  33.34%, 66.66% {
    background-image: url('../img/assets/ah2.jpg'); /* Second image */
  }
  66.67%, 100% {
    background-image: url('../img/assets/ah3.jpg'); /* Third image */
  }
}

.masthead-subheading-notice {
      font-family: 'Monospaced font', sans-serif;
      // font-weight: 500;
      font-size: 22px;
      //text-align: justify;
      padding: 15px;
      opacity: 1;
      color: black !important;
      // font-size: 0.88*1.5rem;
     // color: $color-white;
      //background-color: #31708f;
      background-color: $theme-primary;
      //box-shadow: 0px -2px white;
      display: block;
      margin-bottom: 40px;
      //position: absolute;
      strong {
        font-weight: 700 !important;
      }
    }

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(0.88*5rem + 55px);
    &.normal {
      padding-bottom: 0.88*1rem;
    }
    padding-bottom: 0.88*9rem;
    .masthead-content {
      .masthead-heading {
        // font-size: 0.88*3rem;
        font-size: 2.3rem;
        //font-weight: 600;
        //letter-spacing: 0.1rem;
        font-family: 'Monospaced font', sans-serif;
        max-width: 80%;
      }
      .masthead-subheading {
        font-family: 'Bradley Hand', serif;
        font-size: 0.88*2rem;
        opacity: 1;
        max-width: 80%;
      }
    }
  }
}

.navbar-logo {
  opacity: 0.3;
  transition: 0.5s ease-in-out;
  &:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
  margin-top: -4px;
}


.navbar-blog {
  background-color: $theme-background-primary;
}

#kw-fill {
  background: linear-gradient(0deg, $theme-background-primary 50%, $color-dblue 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-bottom: 4rem;
}

.kw-postbox {
  border-radius: 100%;
  background-color: white;
  padding: 0;
  height: 300px;
  overflow: hidden;
}

.rounded-circle {
  border-radius: 50%!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

// MONKEY PATCHING BELOW

.kw-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.kw-section-title {
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Monospaced font";
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
  &.kw-bg-white {
    span {
      // background-color: $color-white;
      // top: 10px;
    }
  }
}

// footer {
//   background-color: #000000;
// }

.masthead-subheading {
  font-weight: 200;
  font-family: 'TT3R', serif;
  letter-spacing: 1px;
}

#kw-featured {
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 60px;
}

.kw-section-title.kw-huge {
  font-size: 28px;
  font-family: 'Monospaced font', serif;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  span {
    display: inline-block;
    border-style: single;
    // border: 0;
    border-bottom: 10px solid $color-highlight;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  &.kw-huge-left {
    text-align: left;
  }

  &.kw-huge-alt {
    color: #c41a2e;
    span {
      display: inline-block;
      border-style: double;
      // border-bottom: 10px solid $color-highlight;
    }
  }

  &.kw-huge-alt1 {
    color: white;
    span {
      display: inline-block;
      border-style: double;
      border-color: #c41a2e;
      // border-bottom: 10px solid $color-highlight;
    }
  }

  &.kw-huge-alt11 {
    color: black;
    span {
      display: inline-block;
      border-style: double;
      border-color: black;
      // border-bottom: 10px solid $color-highlight;
    }
  }


  &.kw-huge-alt2 {
    color: white;
    span {
      display: inline-block;
      border-style: double;
      border-color: white;
      // border-bottom: 10px solid $color-highlight;
    }
  }

  &.kw-huge-alt-black {
    color: black;
    span {
      display: inline-block;
      // border-bottom: 8px solid $color-highlight;
    }
  }
}

header.masthead#kw-project-header {
  background: none;
  margin-top: -20px;
  padding-top: 0;
}


.kw-project-date {
  margin-bottom: 20px;
  font-style: italic;
  margin-top: -25px;
  font-size: 18px;
}

#ah-description, #ah-topics, #ah-categories, #ah-about, #ah-organization, .ah-organization, #ah-deadlines, #ah-awards, #ah-program, #ah-cfp {
  text-align: left;
  padding-top: 40px;
  padding-bottom: 80px;
  color: $theme-background-secondary;
  background-color: white;

  p {
    color: black;
    font-size: 18px;
  }

  &.awrd {
    background-color:#337ab7;
  }

  &.awrd-gap {
    padding-bottom: 260px !important;
  }

  &.light {
    background-color: white;
    p {
      color: #131313;
      font-size: 21px;
    }
  }

  &.flip {
    background-color: $theme-background-secondary;
    p {
      color: black;
    }

    &.top-bar {
      border-top: 5px solid $theme-background-primary;
    }
  }


  &.flip1 {
    // background-color: #b7e5e3;
    // background-color: #00b8ff;
    // background-color: #00ea92;
    background-color: $theme-background-tertiary;  //#00e48e8e;
    p {
      color: #131313;
    }

    &.top-bar {
      border-top: 5px solid $theme-background-secondary;
    }
  }

  &.flip2 {
    background-color: $theme-background-primary; //#d0ebe2;
    p {
      color: white;
    }

    &.top-bar {
      border-top: 5px solid $theme-background-tertiary;
    }
  }



  /* organization, potraits of organizers */
  .committe-image {
    border-radius: 50%;
  }

  .person {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    text-align: center;
  }

  .keynote-speaker-image {
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }

  .keynote-speaker-bio {
    display: inline-block;
    width: calc(100% - 220px);
    padding-left: 20px;
  }

  ul.flip {
    color: white;
  }

}

.ah-organization.ah-override {
    &:not(:first-child) {
      padding-top: 20px !important;
      padding-bottom: 10px !important;
    }
    &:last-child {
      padding-bottom: 20px !important;
    }
  // padding-bottom: 20px !important;
}

.ah-awards.ah-override {
  a {
    &:hover, &:focus {
      color: $color-white;
    }
  }
}

@media (max-width: 768px) {
  #geist-description p {
    font-size: 17px;
  }
}

#news {
  font-size: 18px;
  .kw-news-li {
    margin-bottom: 50px;
  }
  .kw-news-date {
    font-size: 16px;
    // font-style: italic;
    // background-color: white;
    padding: 10px 5px 5px 10px;
    margin-bottom: -5px;
    font-family: "Monospaced font", sans-serif;
  }
  .kw-news-title {
    margin-top: 5px;
    width: 100%;
    // background-color: white;
    padding: 10px 10px 10px 10px;
    font-family: "Bradley Hand", sans-serif;
    font-size: 25px;

    a {
      color: black;
      &:hover {
        color: black;
      }
    }
  }
  .kw-news-content {
    margin-bottom: 5px;
    font-size: 18px;
    // background-color: white;
    margin-top: -10px;
    padding-left: 10px;
  }
  ul {
    padding-left: 0px;
  }

  .kw-news-read-more {
    margin-top: 5px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
      &:hover {
        color: black;
      }
  }

  a:hover {
    color: #00e48e;
  }
}

#contact {
  margin-top: -20px;
  background-color: $theme-background-primary; //#d0ebe2;
  color: black;
  label {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    font-weight: 200;
    font-color: $theme-background-primary;
  }
  input {
    font-size: 16px;
    font-family: 'Noto Serif', serif;
  }
  .kw-section-title {
    margin-bottom: 0;
  }
}

#post {
  .post-title {
    margin-top: 60px;
    font-size: 48px;
    font-weight: bold;
    background-color: #f1f1f1;
    display: block;
    padding: 30px 10px 30px 30px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 60px;
    line-height: 48px;
  }
  .post-date {
    font-size: 16px;
    // font-style: italic;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
  }
  .post-content {
    padding-bottom: 50px;
    font-family: 'Work Sans', sans-serif;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Work Sans';
    letter-spacing: 0px;
  }
  h1 { font-size: 34px; }
  h2 { font-size: 24px; }
  h3 { font-size: 18px; }
  b, strong {
    font-family: 'Work Sans';
    font-weight: 600;
  }
}

.pagination {
  font-family: "Tilliuim Web", sans-serif;
  font-size: 16px;
  width: 100%;
  text-align: center;
  .page_number {
    top: 15px;
    position: relative;
  }
}

@media (min-width: 768px) {
  .pagination, .post-links {
    a.previous:after {
      content: " Previous";
    }
    a.next {
      min-width: 196px;
      &:before {
        content: "Next ";
      }
    }
  }
}
@media (max-width: 768px) {
  .pagination, .post-links {
    a.previous, a.next {
      font-size: 20px;
    }
  }
}

footer {
  p.copyright {
    margin-top: 30px;
  }
}

#kw-publications .articles {
  padding-bottom: 80px;
}

#contact-footer {
  // background-color: #8e8e8e2e;
  padding: 40px 40px 25px 40px;
  // margin-top: 50px;
  .contact-footer-company {
    font-weight: bold;
  }
}

#contact.map{
  margin-bottom: 20px;
  // background-color: #8e8e8e2e;
}

@media (min-width: 550px) {
  .particles-js-canvas-el {
    margin-top: -200px;
  }
}

@media (max-width: 550px) {
  .particles-js-canvas-el {
    margin-top: -125px;
  }
}

#particles-js.particles-override {
  .particles-js-canvas-el {
    height: 575px !important;
  }
}

.kw-blog-post h1:not(:first-child) {
  margin-top: 1.75rem;
}

.kw-blog-post h1 {
  margin-bottom: 1.5rem;
}

// #ah-about a {
//   color: $color-highlight;
//   &:visited {
//     color: $color-highlight;
//   }
// }
.flip1 a {
  color: white;
  &:hover {
    color: white;
  }
}

section.flip2, .kw-blog-post .post-content, .kw-conference-location {
  a {
    color: #000;
  }
}

.comments-container {
  margin-bottom: 40px;
}
.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 40px;
}
.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.session-title h1 {
   font-size: 48px;
    font-weight: bold;
    background-color: #f1f1f1;
    display: block;
    padding: 30px 10px 30px 30px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 20px;
    line-height: 48px;
}

.session-description {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 20px;
}

#program-details a.btn {
  color: black !important;
  font-size: 10px;
  display: block;
  padding: 10px 20px;
  // width: 100px;
  &:visited {
    color: black;
  }
}
@media (max-width: 768px) {
  #program-details a.btn {
    text-indent: -9999px;
    line-height: 0; /* Collapse the original line */
    &::after {
      content: "watch";
      text-indent: 0;
      display: block;
      line-height: initial;
    }
  }
}

.zoom-container {
  margin-bottom: 40px;
}

.prefooter-logos {
  background-color: white;
  text-align: center;

  img {
    height: 80px;
    display: inline;
    margin: 30px 10px 30px 10px;
  }

  @media (max-width: 768px) {
  img {
    height: 50px;
  }
  }
}

#program-details {
    table {
        // border-collapse: collapse;
        width: 100%;
        margin-bottom: 40px;
    }

    td,th {
        border: 1px solid #f5f5f5;
        // text-align: left;
        padding: 16px;
    }
    tr {
      &:nth-child(odd){
        background-color: $color-white;
        color: $color-black;
      }
      &:nth-child(even){
        background-color: #ececec;
        color: $color-black;
      }
      &:first-child {
        background-color: #2b2b2b;
        color: $color-white;
      }
      &.timeless {
        background-color: #ababab;
      }
    }
    // tr:nth-child(even) {
    //     background-color: #dddddd;
    // }

    .th-time {
      width: 16%;
      // text-align: center !important;
    }
    .th-button {
      width: 15%;
    }

    .schedule-date {
      font-weight: 600;
      font-size: 22px;
      background-color: white;
      margin: 0;
      padding: 10px 20px;
      width: 100%;
      margin-top: 30px;
    }

    .schedule-announcement {
      // border: 2px solid $theme-background-primary;
      .kw-section-title {
        margin-bottom: 20px;
        span {
          border-color: #ababab;
        }
      }
      margin-top: -20px;
      padding: 20px;
      // padding-bottom: 66px;
      // background-color: white;
      opacity: 0.85;

      .logos {
        background-color: white;
        // text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
      }
    }
}

.keynote {
  padding: 30px;
  background-color: $theme-background-primary; //#dbffee;
  box-shadow: 20px 20px #ffffff40;
  .speaker-photo {
    width: 100%;
    display: block;
  }
  .talk-title {
    font-size: 26px;
    font-family: "Tomorrow", sans-serif;
  }
  .photo-caption {
    // margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 12px;
  }
  .photo {
    max-width: 300px;
    margin-bottom: 15px;
    float: left;
    margin-right: 40px;
  }
  p.speaker {
    font-weight: 600;
    font-size: 32px;
    font-family: "Tomorrow", sans-serif;
    margin-bottom: 0;
  }
  &:not(last-child){
    margin-bottom: 90px;
  }
  .bio {
    font-size: 17px;
    text-align: justify;
  }
}

.kw-program-top {
  border-bottom: 8px #c41a2e solid;
  background-color: #c41a2e !important;
}

.kw-maillist {
  border-top: 5px solid $theme-background-tertiary;
  // border-bottom: 5px solid black;
  height: 400px;
  background-color: $theme-background-secondary;
  // background-color: #d0ebe2;
  padding-top: 30px;

  .kw-section-title {
    padding-bottom: 0;
    span {
      border-color: #ababab !important;
    }
  }

  .button {
    font-family: 'Work Sans', sans-serif;
    background-color: $theme-primary !important;
    border: 2px solid $theme-background-primary !important;
    color: black !important;
    text-transform: uppercase;
    // padding: 15px 50px;
    width: 200px !important;
    height: 45px !important;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    border-radius: 0 !important;
    &:hover {
      background-color: $theme-tertiary !important;
      transition: 0.5s ease-in-out;
    }
  }
  label {
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
  }

  #mce-responses {
    font-family: "Work Sans", sans-serif !important;
    font-size: 18px !important;
    margin: 0 !important;
    padding: 0 !important;
    #mce-error-response {
      color: $theme-background-primary !important;
      margin: 0 0 20px 0 !important;
      padding: 0 !important;
    }
    #mce-success-response {
      color: $theme-background-primary !important;
      margin: 0 0 20px 0 !important;
      margin-bottom: 10px;
      padding: 0 !important;
    }
  }
}


.mn {
  text-align: center;
  // margin: auto; // centers it
  // margin-top:2%;
  font-family: 'Work Sans', sans-serif;
  opacity: 1;
  //padding: 5px;
  // font-size: 0.88*1.5rem;
  color: #000000;
  background-color: rgba(255,255,255,0.75);
  border: 1.5px solid #fff;
  font-size: 1.15rem;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.kw-committee-group {
  .kw-section-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    span {
      border-style: solid !important;
      border-color: $theme-accent !important;
    }
  }
  &:nth-child(2n) .kw-section-title {
    span {
      border-color: $theme-primary !important;
    }
  }
  .people {
    padding: 0;
    margin: 0;
    list-style: none;
    @extend %flexbox;
    @include flex-flow(wrap);
    text-align: center;
    li {
      padding: 30px 20px;
      box-sizing: border-box;
      width: 100%;
  
      @media #{$tablet} {
        @include flex(1, 1, 50%);
      }
  
      @media #{$desktop} {
        @include flex(1, 1, 33%);
      }
  
    }
  
    .image {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      background-size:cover;
      background-repeat:no-repeat;
      margin: 0 auto;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition: -webkit-filter 0.5s ease-in-out;
      transition: filter 0.5s ease-in-out;
    }

    .image:hover {
      -webkit-filter: none; /* Safari 6.0 - 9.0 */
      filter: none;
      transition: -webkit-filter 0.5s ease;
      transition: filter 0.5s ease;
    }

    .name {
      margin-top: 20px;
      font-size: large;
      color:#3F3446 ;
    }

    a:link, a:visited{
      color: #c41a2e;
      font-size: large;
      text-decoration: underline;
    }

    a:hover, a:active {
      color: #c41a2e;
    }
  
    .position {
      color: #3F3446;
      font-size: small;
    }
  }
  margin-bottom: 20px !important;

  .k-title {
    color: #c41a2e;
  }
}

.btn-disabled {
  background-color: rgba( $theme-primary, .5 ) !important;
  cursor: not-allowed !important;
}

#deadlines {
  table {
      // border-collapse: collapse;
      width: 100%;
      margin-bottom: 40px;

  }

  td,th {
      // text-align: left;
      padding: 16px;
      color: #c41a2e;
      font-size: larger;
  }

  .tr-break {
    background-color: $theme-background-tertiary;
  }
}

#hotels {
  table {
      // border-collapse: collapse;
      width: 100%;
      margin-bottom: 40px;

  }

  td,th {
      // text-align: left;
      padding: 16px;
      color: #c41a2e;
      font-size: larger;
      border: 2px solid black;
  }

  .tr-break {
    background-color: $theme-background-tertiary;
  }

  ul{
    color: #c41a2e;
  }

  p{
    color:black;
  }
}

#sessions, #posters {
  table {
      // border-collapse: collapse;
      width: 100%;
      margin-bottom: 40px;
  }

  td,th {
    // text-align: left;
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: larger;
    // border: 1px solid black !important;
  }

  p.authors, a.doi {
    color: #c41a2e;
    font-style: italic;
    font-size: 90%;
    // margin-bottom: 0;
  }


  @media (min-width: 768px) {
    td,th {
        // text-align: left;
        padding: 10px 100px 10px 10px;
        color: white;
        font-size: larger;
        border: 1px solid black !important;
    }
  }

  .tr-break {
    background-color: $theme-background-tertiary;
  }

  h3 {
    color: black;
  }
}

#venue-img {
  width: 100%;
  height: auto;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: block;
}

.dropdown-content li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-content > li {
  > a {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: 1px;
    font-size: 12px;
    color: white;
    &:focus {
      color: #222222;
    }
    &:hover, &:focus:hover {
      color: $hyperlinks;
      text-decoration: underline !important;
      // color: $theme-primary;
    }
    &:before {
      display: none;
    }
  }
  &.active > a {
    color: $hyperlinks !important;
    background-color: transparent;
    &:focus {
      color: $hyperlinks !important;
      background-color: transparent;
    }
    &:hover, &:focus:hover {
      background-color: transparent;
    }
  }
}


@media (min-width: 768px) {
  .dropdown-content {
    display: none;
    position: absolute;
    width: fit-content;
    list-style: none;
    overflow: auto;
    background-color: $theme-background-primary;
    color: white;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    padding-left: 10px;
    padding-right: 10px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown a:before {
    font-family: FontAwesome;
    display: inline-block;
    float: right;
    content: '\f107';
    vertical-align: middle;
    padding-left: 5px;
  }
}

.btn-lg {
  font-size: 16px;
}

.image-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  justify-content: center;
  padding: 4px;
}

.box {
    flex-basis: 25%;
    width: 100%;
    padding: 10px;
    margin: 2px;
}

.img-gallery {
width: 100%;
height: 200px;
object-fit: cover;
transform: scale(1);
transition: all 0.3s ease-in-out;
&:hover {
  transform: scale(1.05);
}
}


#lightbox {width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.85); z-index: 9999999; line-height: 0; cursor: pointer; display: none;}
#lightbox .img {
    position: relative; 
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
#lightbox .img img {opacity: 0; pointer-events: none; width: auto;}
@media screen and (min-width: 1200px) {
    #lightbox .img {
        max-width: 1200px;
    }
}
@media screen and (min-height: 1200px) {
    #lightbox .img {
        max-height: 1200px;
    }
}
#lightbox span {display: block; position: fixed; bottom: 13px; height: 1.5em; line-height: 1.4em; width: 100%; text-align: center; color: white; text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#lightbox span {display: none;}

#lightbox .videoWrapperContainer {
    position: relative; 
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 900px;
    max-height: 100%;
}
#lightbox .videoWrapperContainer .videoWrapper {
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 56.333%; /* custom */
    background: black;
} 
#lightbox .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}   
#lightbox #prev, #lightbox #next {height: 50px; line-height: 36px; display: none; margin-top: -25px; position: fixed; top: 50%; padding: 0 15px; cursor: pointer; text-decoration: none; z-index: 99; color: white; font-size: 60px;}
#lightbox.gallery #prev, #lightbox.gallery #next {display: block;}
#lightbox #prev {left: 0;}
#lightbox #next {right: 0;}
#lightbox #close {height: 50px; width: 50px; position: fixed; cursor: pointer; text-decoration: none; z-index: 99; right: 0; top: 0;}
#lightbox #close:after, #lightbox #close:before {position: absolute; margin-top: 22px; margin-left: 14px; content: ""; height: 3px; background: white; width: 23px;
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
/* Safari */
-webkit-transform: rotate(-45deg);
/* Firefox */
-moz-transform: rotate(-45deg);
/* IE */
-ms-transform: rotate(-45deg);
/* Opera */
-o-transform: rotate(-45deg);
}
#lightbox #close:after {
/* Safari */
-webkit-transform: rotate(45deg);
/* Firefox */
-moz-transform: rotate(45deg);
/* IE */
-ms-transform: rotate(45deg);
/* Opera */
-o-transform: rotate(45deg);
}
#lightbox, #lightbox * {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}