<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav-blog.html %}

  <div class="content-wrap">

    <!-- Contact Section -->
<header class="masthead text-center text-white normal">
  <div class="overlay"></div>
  <div id="particles-js" class="masthead-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h1 class="masthead-heading mb-0"> << Session Recording >> </h1>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</header>  

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

            <div class="session-title">
                <h1>{{ page.session_title }}</h1>
            </div>
            <div class="session-description">
                <p>{{ page.session_description | newline_to_br }}</p>
            </div>
            
            {% if page.zoom_url %}
                <div class="zoom-container">
                  <p>We are using Zoom platform to record and stream the sessions in real time.</p>
                    <a style="margin-left: auto; margin-right: auto; display: block" class="btn btn-small" href="{{ page.zoom_url }}">Watch on Zoom</a>
                </div>
            {% endif %}

            {% if page.pdf_url %}
                <div class="zoom-container">
                  <p>You can download the paper here:</p>
                    <a style="margin-left: auto; margin-right: auto; display: block" class="btn btn-small" href="{{ page.pdf_url }}">View PDF</a>
                </div>
            {% endif %}

            {% if page.video %}
                <div class="youtube-container">
                    <iframe class="youtube-video" src="{{ page.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endif %}

            {% if page.comments %}
                <div class="comments-container">
                    <div id="disqus_thread"></div>
                    <script>  
                    var disqus_config = function () {
                        this.page.url ="{{ page.url | prepend: site.url }}";
                        this.page.identifier = "{{ page.unique_page_id }}";
                    };

                    (function() { 
                        var d = document, s = d.createElement('script');
                        s.src = 'https://ahs2020.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            {% endif %}
          </div>          
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

     <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div style="display: block; margin-bottom: 20px; ">
                <a class="previous btn center" style="float: left; width: 100%;" href="{{ site.data.menu.item-6-shortcut }}" data-toggle="tooltip" data-placement="top" title="">&larr; BACK TO PROGRAM</a>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
